$cRed: #d61b1b;
$cWhite: #fff;
$cGreen: #31991a;

.mypage-main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background-image: url("/images/dog_background1.jpg");
  background-size: cover;
}

.mypage-box {
  width: 70%;
  background-color: $cWhite;
  opacity: 0.9;
}

.mypage-detail {
  margin: 30px auto;
}

.mypage-user {
  border: 2px solid $cRed;
  width: 30%;
  font-size: 14px;
  padding: 10px;
  background-color: #e09dc8;
}

.mypage-value {
  border: 2px solid $cRed;
  width: 70%;
  font-size: 14px;
  padding: 10px;
}

.mypage-btn {
  width: 30%;
  height: 60px;
  margin: 0 auto;
  display:flex;
  justify-content: space-around;
  align-items: center;
  // background-color: pink;
}

.mypage-red-btn {
  padding: 8px 10px;
  text-decoration: none;
  background: $cRed;
  border: 1px solid $cRed;
  color: $cWhite;
  font-size: 12px;
  cursor: pointer;
  border-radius: 3px;
  transition: all 0.3s;
  &:hover {
     background-color: $cWhite;
     color: $cRed;
  }
}

.my-page-dog {
  display: flex;
  justify-content: center;
  padding: 30px 0;
}

.mypage-green-btn {
  text-decoration: none;
  background-color: $cGreen;
  border: 1px solid $cGreen;
  color: $cWhite;
  padding: 8px 10px;
  cursor: pointer;
  border-radius: 3px;
  transition: all 0.3s;
  &:hover {
     background-color: $cWhite;
     color: $cGreen;
  }
}